body{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 300;
    font-style: normal;
}
header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    transition: 0.2s;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 15px;
    transition: 0.3s;
}

.productos li:hover {
    border-color: #c78c19;
    box-shadow: 10px 10px 20px -1px;
    cursor: pointer;
}

.productos li:active {
    border-color: #088c19;
}


.productos h2 {
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover{
    transform: scale(1.1);
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white; 
    font-size: 13px; 
    margin: 20px;
}
.container{
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

/* css de la pagina de contacto aqui */

form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:black;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    
    
}
.enviar:hover{
    background: rgb(231, 127, 0);
    cursor: pointer;
    box-shadow: 10px 10px 20px -1px;
    transform: scale(1.1);
}
table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 8px 15px;


}

/* css para nuestra pagina HOME */

.banner{
    width: 100%;
}
.principal{
    padding: 3em 0 ;
    background-color: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal p{
    margin: 0 0 1em;

}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilio{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.map{
    padding: 3em 0;
    background: linear-gradient(54deg #fefefe, green);
}
.map p{
    margin: 0 0 2em;
    text-align: center;
}
.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}
.diferenciales{
    padding: 3em 0;
    background: #888888;
}
.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;

}
.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.items{
    line-height: 1.5;
}
.items::before{
    content: '★'
}
.items:first-child{
    font-weight: bold;
}
.img-diferencial{
    width: 60%;
    border-radius: 12px;
    box-shadow: 10px 10px 40px -1px;
}
.video{
    width: 500px;
    margin: 1em auto;
}


@media screen and (max-width: 480px) {

    hi{
        text-align: center;
    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
    .lista-diferenciales,.img-diferencial{
        width: 100%;
    }
    .productos li{
        display: grid;
        grid-template-columns: repeat(
            auto-fit, 
            minmax(
                150px 
                1fr
            )
        );
        
        gap: 30px;
        
    }
    
}
    
